<div class="header">
  <img id="kanbanLogo" src="../../assets/logo.png">
  <div class="header-right">
      <a class="active" routerLink="/register">Sign Up</a>
      <a href="#contact" routerLink="/login">Login</a>
  </div>
</div>
<div class="dashboard">
  <div class="content">
      <p id="head">A scalable project management tool for any team</p>
      <p class="defn">From a simple to-do list to a complete project management tool, scale it & slay it!
          <button style="color:white"  routerLink="/register" mat-button>Register Now</button></p>
  </div>
  <div class="kanbanimg">
      <img id="kanban" src="../../assets/HomePageImg.jpg">
  </div>
</div>


 
<br><br><br><br><br><br><br><br><br><br>


<!-- Footer -->
<div class="footer">
 
          <hr class="small">
          
          <div class="container">
          <div class="row">
          <div class="col-md-8 col-sm-6 col-12">
          <p class="copyright-text">Copyright © 2023 All Rights Reserved by WorkFlo.com
          </p>
         </div>
         
  </div>
</div>